body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #333333;
}

.container {
  margin: 0 auto;
  float:none !important;
  margin-top: 15px;
}


.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.header h3{
  margin: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.nav {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

.nav li {
  position: relative;
  display: block;
}

.nav-pills li {
  float: left;
}

.pull-right {
  float: right;
}

.nav li a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-pills li a {
  border-radius: 4px;
}

.nav-pills li.active a {
  color: #fff;
  background-color: #337ab7;
}


.text-muted {
  color: #777777;
}

.row {
  border-bottom: 1px solid #e5e5e5;
  margin: 0 !important;
}

.projects {
  margin: 0 auto;
  width: 85%;
  margin-top: 15px;
}

.project {
  float: left;
  width: 50%;
  max-width: 500px;
  border-top: 1px solid #EEE;
  border-left: 1px solid #EEE;
  border-radius: 25px;
  margin: 15px;
  padding: 10px;
}

.project:hover {
  background-color: #EEE;
}

.project h3 {
  margin-left: 5px;
}

.project img {
  width: 95%;
  border-radius: 24px;
  margin: 0 auto;
  display: block;
  padding: 10px 0;
}

.project a {
  color: #111;
}

.project a:hover {
  text-decoration: none;
  color: inherit;
}

.imagecol img {
  display: block;
  margin: 0 auto;
}

.sections div{
  overflow: hidden;
  margin: 10px 0;
  border-bottom: 1px solid #e5e5e5
}

.sections div div {
  border: none;
}

h3 {
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #337ab7;
  background-color: transparent;
}
